<section id="certifications" class="entry">
  <h2 class="entry-title">
    <span>Certifications</span>
  </h2>
  <div class="entry-content">
    <div class="entry-subcontent">
      <div style="text-align:center;">
        <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="4d674e44-7725-48b3-b3db-ea3f4d6dd131" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
        <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="6769c6e1-1e29-4557-a492-ba5e6fb398bb" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
        <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="c8ad743c-3519-438c-b719-ecdd17cb227b" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
        <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="8a478d2a-a477-4c36-afd8-a59c4cb4678b" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
      </div>
    </div>
  </div>
</section>
