<section id="skills" class="entry">
  <h2 class="entry-title">
    <span>
      {% if page.lang == "fr" %}
      Compétences
      {% endif %}
      {% if page.lang == "en" %}
      Skills
      {% endif %}
    </span>
  </h2>
  <div class="entry-content">
    {% for skill in cv.skills  %}
      <div class="entry-subcontent">
        <h4 class="skill-name">
          {{ skill.name }}
        </h4>

        <ul class="skill-keywords">
          {% for keyword in skill.keywords %}
            <li>{{ keyword }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
</section>
